.title {
    text-align: center;
    margin: 1rem;
}

.body {
    margin: 0;
    .items {
        padding: 5rem;
        li {
            font-size: 3rem;
        }
        li:hover{
            background-color: #c4e3f3;
            cursor:pointer;
        }


    }
    .add {
        text-align: center;
        font-size: 5rem;
    }
}

